body {
  background-color: #FFFEEF;
  padding-left: 25px;
}

h1 {
  color: rgb(0,150,75);
}

h2 {
  color: #77CCAA;
}

h3 {
  color: #FF9900;
}

h4 {
  color: #FFCC00;
}

a:link {
  color: #77BBAA;
}

a:hover {
  color: orange;
}

a:active {
  color: darkgreen;
}

a:visited {
  color: rgb(250, 170, 0);
}

.priorityLi {
  color: rgb(0,75,50);;
}

#broomImg {
  border-style: solid;
  border-color: orange;
}

#caveImg {
  border-style: solid;
  border-color: green;
}

.category {
  color: rgb(100,175,155)
}

.table-top td {
  padding-left: 15px;
}

.table-list {
  padding-right: 10px;
}
